.menu__chosen {
    background-color: $colorTertiary;
    width: 0px;
    height: 4.4rem;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    @include flexbox($spacing: center, $align:center);
    opacity: 0;  
    &--icon {
        color: white;
        font-size: 1.3rem;
    }
}
.menu__price {
    @include flexbox($spacing: center, $align: flex-end);
}

.menu__item:hover {
    & .menu__chosen{
        width: 70px;
        opacity: 1;
        transition: all 1s ease-in-out;
        & .menu__chosen--icon {
            transform: rotate(360deg);
            transition: all 1s ease-in-out;
        }
    }
    & .menu__detail {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    } 
}