
@keyframes fillIn {
    0%{
        transform-origin: bottom;
        transform: scale(0.1);
        opacity: 1;
    } 
    80%{
        transform: scale(1.2);                     
    }
    100%{
        transform: scale(1);
        opacity:1;        
    }
}

.card__heart {
    position: relative;
    &--empty{  
        position: absolute;      
        font-size: 1.5rem;
        color: darken($colorGrey, 25);
        display: inline-block;       
        // transition: 2s ease-out;        
    } 
//     &--empty:hover {
//         -webkit-text-fill-color: transparent;
//         background-clip: text;
//         -webkit-background-clip: text;
//         background-image: $colorHeart;                    
//    }   
}

.fas{   
    position: relative;  
    font-size: 1.5rem;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $colorHeart;   
    opacity: 0; 
    cursor: default; 
    // z-index: 1;
    &:hover{        
        animation: fillIn 1500ms ease-out forwards;
        
    }
    
}
