@keyframes charging-menu {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.fa-arrow-left {
    font-size: 1.5rem;
    position: absolute;
    top: 1.8rem;
    left: 2rem;
    
}
.menu__img{
    width: 100%;
    height: auto;
}

.menu {
    min-width: 375px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    background-color: map-get($map: $grey, $key: light);
    transform: translateY(-38px);
    margin-bottom: -38px;
    
    &__heading{
        h2 {
            font-family: $font-family;
            font-size: 1.8rem;
        }
        padding: 1rem 1rem 1rem 0;

        @include flexbox($spacing: space-between)  
    }
    &__bloc {
        margin-bottom: 2rem;
       
    }
    &__subtitle {
        padding: 0.5rem 0;
        position: relative;
        font-weight: 300;
        font-size: 1rem;
        // color: map-get($map: $grey, $key: font);
        &::after {
            content:"";
            width: 40px;
            border-bottom: 3px solid $colorTertiary;
            position:absolute;
            left: 0;
            bottom: -2px;
        }
    }
   
    &__btn {
        @include flexbox($spacing: center);
    }

}

.menu__item {     
    width: 95%;
    line-height: 1.5rem;
    border-radius: 14px;
    background-color: #FFFF;
    margin: 1rem 0;
    overflow: hidden;
    box-shadow: 0 5px 10px map-get($map: $grey, $key: medium);
    @include flexbox ($spacing: space-between, $align: flex-end);
    animation: charging-menu 1s ease-in-out ;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 150ms * $i;
        }
        
    }


    h4 {
        font-size: 1.1rem;
        font-weight: 500;
        padding-top: 0.7rem;
        padding-left: 0.7rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }    
    p {
        font-weight: 300;
        font-size: 0.9rem; 
        padding-bottom: 0.7rem;
        padding-left: 0.7rem;
        max-width: 265px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    strong {
        display: inline-block;
        margin:  0.7rem 1rem;   
    }
         
}
