$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorGrey: #C6C6C6;
$colorHeart: linear-gradient($colorSecondary, $colorPrimary);
$grey: (light: #F6F6F6, medium: #EAEAEA, shadow: #b8b7b7, dark: #353535, font: #787878);
$font-family: "Shrikhand", cursive;
$num-items: 3;

$small: 374px;
$medium: 768px;
$large: 992px;
