footer {
    background-color: #353535;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.5rem;
   
    
    
   
    h4 {
        font-family: $font-family;
        margin-bottom: 1rem;
    }
    a {
        color: #FFF
    }
    ul {
        list-style: none;
        .fa-utensils {
            padding-right: 7px;
        }
        // .fa-hands-helping {
        //     padding-right: px;
        // }
   
    }
}

@mixin footer--md {
    footer {
        padding: 2rem;
        h4 {
        font-size: 1.3rem;
        text-align: center;
        }
    }
    ul {
        @include flexbox();
        
    }
}