footer {
    background-color: #353535;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.5rem;
    h4 {
        font-family: $font-family;
        margin-bottom: 1rem;
    }
    a {
        color: #FFF
    }
    ul {
        list-style: none;
   
    }
}