* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 100%;

}
img {
    display: block;
    // max-width: 400px;
    
}