
@keyframes fillIn {
    0%{
        transform-origin: bottom;
        transform: scale(0.1);
        opacity: 1;
    } 
    80%{
        transform: scale(1.2);                     
    }
    100%{
        transform: scale(1);
        opacity:1;        
    }
}

.card__heart {
    position: relative;
    cursor: pointer;
    &--empty{  
        position: absolute;      
        font-size: 1.5rem;
        color: darken($colorGrey, 25);
        display: inline-block;       
        // transition: 2s ease-out;        
    } 
    &--full{   
        position: relative;  
        font-size: 1.5rem;
        display: inline-block;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: $colorHeart;   
        opacity: 0;      
    }
    &:hover>.card__heart--empty{
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: $colorHeart;
    }
    &:hover>.card__heart--full{
        animation: fillIn 800ms ease-out forwards; 
    }
}


