// @keyframes spin {
//     0%{
//         transform: rotate(0deg);
//         opacity: 1;
       

//     }
//     100%{
//         transform: rotate(360deg);
//     }
// }
@keyframes load {
    0% {
        opacity: 1;
    }
    89%{
        opacity: 1;
    }
    94%{
        opacity: 0.8;
    }
    99%{
        opacity: 0;
        transform:scale(1)
    }
    100% {
        transform:scale(0);
    }
}

// .load {
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     z-index: 10;
//     background-color: #f3f3f3;
//     @include flexbox;
//     animation: load 3s ease-in forwards;
//     &__item{
//         width: 150px;
//         height: 150px;
//         border: 4px solid $colorTertiary;
//         border-top-color: $colorPrimary;
//         border-bottom-color: $colorSecondary;
//         border-radius: 50%;
//         animation: spin .6s linear infinite forwards;
//     }
// }
$duration: 1150ms;
@keyframes updown {
    0%{
        transform: translateY(75%);
        // opacity: 1;
    }
    50%{
        transform: translateY(-75%);
    }
    100%{
        transform: translateY(75%);
    }
}

@keyframes delais {
    0% {
        opacity:0;
    };
    100%{
        opacity: 1;
    };
}
.load {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: #f3f3f3;
    
    
    &__delay{
        width: 100%;
        height: 100%;
        @include flexbox($spacing: center);
        gap: 30px;
        opacity: 0;
        animation: delais 600ms forwards;
    }
    animation: load 2s ease-in forwards;
    &__item{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        // transform: translateY(75%);
        // opacity: 0;
        animation: updown $duration ease-in-out infinite;
        
        &:nth-child(1){
            background-color: $colorPrimary;
            // animation-delay: 200ms;
            // transform:translateY(75%);
        }
        &:nth-child(2){
            background-color:$colorSecondary;
            animation-delay: -200ms;
        }
        &:nth-child(3){
            background-color: $colorTertiary;
            animation-delay: -400ms;
        }


    }
}
@mixin load--sm {
    .load__item {
        width: 50px;
        height: 50px;
    }
}