@keyframes charging-menu {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.item {     
    width: 100%;
    line-height: 1.5rem;
    border-radius: 14px;
    background-color: #FFFF;
    margin: 1rem 0;
    overflow: hidden;
    opacity: 0;
    box-shadow: 0 5px 10px map-get($map: $grey, $key: medium);
    @include flexbox ($spacing: space-between, $align: flex-end);
    animation: charging-menu 1s ease-in-out forwards ;
    @for $i from 1 through 14 {
        &--#{$i} {
            animation-delay: 150ms * $i;
        }   
    } 
    &__detail {
        width: calc(100% - 60px);
        height: 100%;
        transition: all 0.6s ease-out;
        h4 {
            font-size: 1.1rem;
            font-weight: 500;
            padding-top:0.7rem;
            padding-left: 1rem;
        }    
        p {
            font-weight: 300;
            font-size: 0.9rem; 
            padding-bottom: 0.7rem;
            padding-left: 1rem;
            width: calc(100% - 1rem);     
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }        
    &__price {
        position: absolute;
        right: 0;
        width: 60px;
        height: 100%;
        @include flexbox($spacing: center, $align: flex-end);
        transition: width 0.8s ease-in; 
        strong {
            display: inline-block;
            margin:  auto 1rem 0.7rem 1rem;   
        }
        &__chosen {
            background-color: $colorTertiary;
            width: 70px;
            height: 100%;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            @include flexbox($spacing: center, $align:center);
            opacity: 0; 
            transition: opacity 0.8s ease-in-out; 
            &--icon {
                color: white;
                // padding: 1.5rem 0;
                font-size: 1.3rem;
                transition: transform 0.7s ease-in;
            }
        }
    }

    &:hover {
        .item__detail {
            width: calc(100% - 130px);
            h4 {
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            } 
        }
        .item__price{
            width: 130px;
            &__chosen{
                opacity: 1;
                &--icon {
                    transform: rotate(360deg);
                }
            }
        }
        
         
    } 
}



     



